## sudo vim /etc/nginx/sites-available/linc.conf

server {
    listen 80;
    server_name linc.cse.lsu.edu www.linc.cse.lsu.edu; 

    # Serve React Frontend
    root /home/student/linc/build;
    index index.html;

    location / {
        try_files $uri /index.html;
    }

    # Post-meeting Flask App
    location /post-meeting/ {
        proxy_pass http://unix:/home/student/linc/flask-server/post-meeting/server.sock;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Real-time meeting Flask App
    location /realtime-meeting/ {
        proxy_pass http://unix:/home/student/linc/flask-server/realtime-meeting/realtime_server.sock;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Static files (if any other are served)
    location /static/ {
        alias /home/student/linc/build/static;
    }
}


## sudo ln -s /etc/nginx/sites-available/linc.conf /etc/nginx/sites-enabled/
## sudo nginx -t
## sudo systemctl restart nginx

##Firewall
## sudo ufw delete allow 5000 ## dev port
## sudo ufw allow 'Nginx Full'

#### permission issue
## sudo tail /var/log/nginx/error.log

## sudo chmod 775 /home/student
## sudo chown -R student:student /home/student/linc/build



## my_app
server {
    listen 80;
    server_name 96.125.112.207;  # Or your domain name

    # Frontend React App
    location / {
        root /home/student/linc/build;
       # index index.html;
        try_files $uri /index.html;
    }

    # Backend API 1 (running on port 5080)
    location /api/backend1/ {
        proxy_pass http://localhost:5080/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Backend API 2 (running on port 5010)
    location /api/backend2/ {
        proxy_pass http://localhost:5010/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Static assets
    location /static/ {
        alias /home/student/linc/build/static/;
    }

    # Handle any other requests (e.g., for React Router)
   # location / {
   #    try_files $uri /index.html;
   # }
}
